<table v-deep v-bind="$attrs">
    <tbody>
        <tr v-for="item in listarr">
            <td class="name">
                <TextEdit class="TextEdit" v-model="item[0]" @changed="update_value(item)" />
            </td>
            <td class="value">
                <TextEdit v-if="canBeTextEdit(item[1])" class="TextEdit" v-model="item[1]" @changed="update_value(item)"
                    :type="multiline_editors.has(item[0]) ? 'textarea' : 'text'" autosize @keydown.shift.enter.capture="multiline_editors.add(item[0])" />
                <label v-else-if="typeof(item[1])==='boolean'">
                    <input type="checkbox" v-model="item[1]" @change="update_value(item)" />
                    <span>Boolean value</span>
                </label>
                <label v-else-if="(item[1])===undefined">
                    <span style="color: gray; margin-right: 1em;">undefined</span>
                    <a href="javascript:void 0" @click="((item[1]=''),update_value(item))">Define Now</a>
                </label>
                <span v-else>Unsupported type</span>
            </td>
            <td class="operation"><button type="button" @click="delete_value(item)">Delete</button></td>
        </tr>

        <tr>
            <td class="name">
                <TextEdit class="TextEdit" v-model="createValue.k" @changed="new_value()" placeholder="(New value...)" />
            </td>
            <td class="value">
                <TextEdit class="TextEdit" v-model="createValue.v" @changed="new_value()" placeholder="&lt;-- Click to set the key" />
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<style>

</style>
