<input v-model="text_"
    v-if="editMode && input_type === 'native'"
    ref="inputbox_native"
    v-bind="$attrs"
    :type="type"
    :disabled="disabled"
    :placeholder="placeholder"
    @blur="finishEdit"
    @keydown.enter="onEnter"
    @keydown.esc="finishEditWithoutSaving"
    :style="styleInput"
/>
<ElInput v-model="text_"
    v-else-if="editMode"
    ref="inputbox"
    v-bind="$attrs"
    :type="type"
    :disabled="disabled"
    :clearable="clearable"
    :placeholder="placeholder"
    :autosize="autosize"
    :formatter="formatter"
    :parser="parser"
    @blur="finishEdit"
    @keydown.enter="onEnter"
    @keydown.esc="finishEditWithoutSaving"
    :style="styleInput"
/>
<span v-else
    v-deep
    ref="textbox"
    v-bind="$attrs"
    tabindex="0"
    @click="doEdit"
    @keydown.enter="doEdit"
    title="Edit by clicking this"
><span v-text="textComputed"></span></span>

