<ActivityView v-deep v-bind="$attrs">
    <ActivityTitle is-app-title v-show="!headless" :closable="!closeless"><ElBadge value="beta" :offset="[10, 10]"><span>日志查看器</span></ElBadge></ActivityTitle>
    <ActivityBody style="display: flex; flex-direction: column; overflow: hidden;">
        <div style="display: flex; white-space: nowrap; margin-bottom: 0.5em; align-items: center;">
            <span style="margin-right: 0.5em;">类别:</span>
            <ElSelect v-model="currentCatalog">
                <template v-for="data in catalogs">
                    <ElOption :value="data">{{data}}</ElOption>
                </template>
            </ElSelect>
        </div>
        <div style="display: flex; white-space: nowrap; margin-bottom: 0.5em; align-items: center;">
            <span style="margin-right: 0.5em;">文件:</span>
            <ElSelect v-model="currentFile">
                <template v-for="data in files">
                    <ElOption :value="data">{{data}}</ElOption>
                </template>
            </ElSelect>
            <ElButton v-if="false">删除</ElButton>
            <ElButton v-if="false">清理</ElButton><!--TODO-->
        </div>
        <monaco-editor v-once v-deep ref="editor" style="flex: 1;"></monaco-editor>
    </ActivityBody>
</ActivityView>