/* body {
    color: var(--color-scheme-foreground-color);
    background-color: var(--color-scheme-background-color);
    font-family: var(--monospace-font);
}
* {
    font-family: var(--monospace-font);
}

*:disabled, *[disabled] {
    cursor: not-allowed !important;
}

a, button {
    cursor: pointer;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
 */


.is-flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.is-relative {
    position: relative;
}
.flex-1 {
    flex: 1;
}
.flex-alit-c { align-items: center; }
.flex-alco-c { align-content: center; }
.flex-juit-c { justify-items: center; }
.flex-juco-c { justify-content: center; }
.mg-top-05em { margin-top: 0.5em; }
.mg-bottom-05em { margin-bottom: 0.5em; }
.mg-left-05em { margin-left: 0.5em; }
.mg-right-05em { margin-right: 0.5em; }
.mg-top-1em { margin-top: 1em; }
.mg-bottom-1em { margin-bottom: 1em; }
.mg-left-1em { margin-left: 1em; }
.mg-right-1em { margin-right: 1em; }


.ui-btn-a {
    color: inherit;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none !important;
    color: var(--color-scheme-foreground-color);
    background-color: var(--color-scheme-background-color);
    border-color: var(--color-scheme-border-color);
    transition: .1s;
}
.ui-btn-a.is-square::before,.ui-btn-a.is-square::after {
    content: "";
    display: inline-block;
    width: 0.5em;
}
.ui-btn-a:hover {
    color: var(--color-scheme-foreground-color-hover);
    background-color: var(--color-scheme-background-color-hover);
    border-color: var(--color-scheme-border-color-hover);
}
.ui-btn-a:focus {
    color: var(--color-scheme-foreground-color-focus);
    background-color: var(--color-scheme-background-color-focus);
    border-color: var(--color-scheme-border-color-focus);
}
.ui-btn-a:active, .ui-btn-a.is-active {
    color: var(--color-scheme-foreground-color-active);
    background-color: var(--color-scheme-background-color-active);
    border-color: var(--color-scheme-border-color-active);
}
.ui-btn-a:disabled, .ui-btn-a[disabled] {
    color: var(--color-scheme-foreground-color-disabled);
    background-color: var(--color-scheme-background-color-disabled);
    border-color: var(--color-scheme-border-color-disabled);
}
.ui-btn-a+.ui-btn-a {
    margin-left: 0.5em;
}





