:root {
    --monospace-font: 'consolas', 'lucida console', 'courier new', monospace;
    --color-scheme-foreground-color: #000000;
    --color-scheme-background-color: #ffffff;
    --color-scheme-border-color: var(--color-scheme-foreground-color);
    --color-scheme-foreground-color-hover: #000000;
    --color-scheme-background-color-hover: #f0f0f0;
    --color-scheme-border-color-hover: var(--color-scheme-foreground-color-hover);
    --color-scheme-foreground-color-focus: #000000;
    --color-scheme-background-color-focus: #f0f0f0;
    --color-scheme-border-color-focus: var(--color-scheme-foreground-color-focus);
    --color-scheme-foreground-color-active: #000000;
    --color-scheme-background-color-active: #d7d7d7;
    --color-scheme-border-color-active: var(--color-scheme-foreground-color-active);
    --color-scheme-foreground-color-disabled: #cccccc;
    --color-scheme-background-color-disabled: #ffffff;
    --color-scheme-border-color-disabled: var(--color-scheme-foreground-color-disabled);
}

@media screen and (prefers-color-scheme: dark) {
:root {
    --color-scheme-foreground-color: #ffffff;
    --color-scheme-background-color: #333333;
    --color-scheme-border-color: #575757;
    --color-scheme-foreground-color-hover: #ffffff;
    --color-scheme-background-color-hover: #4a4a4a;
    --color-scheme-border-color-hover: #aaaaaa;
    --color-scheme-foreground-color-focus: #ffffff;
    --color-scheme-background-color-focus: #4a4a4a;
    --color-scheme-border-color-focus: #ffffff;
    --color-scheme-foreground-color-active: #ffffff;
    --color-scheme-background-color-active: #575757;
    --color-scheme-border-color-active: #aaaaaa;
    --color-scheme-foreground-color-disabled: #7f7f7f;
    --color-scheme-background-color-disabled: #333333;
    --color-scheme-border-color-disabled: var(--color-scheme-border-color);
}
}
