
<style v-deep v-bind="$attrs">
    
</style>

<ActivityView v-if="current_page === 'utilities'" v-deep>
    <ActivityTitle is-app-title>工具</ActivityTitle>
    <ActivityBody>
        <div style="margin-top: 1em;"><a href="#/utility/taginfo/">标签信息</a></div>
        <div style="margin-top: 1em;"><a href="#/utility/devicedetection/">设备检测</a></div>
        <!-- <div style="margin-top: 1em;"><a href="#/utility/mfclassiceditkey/">Mifare Classic 批量修改密钥</a></div> -->
        <hr style="margin-top: 1em;">
        <div style="margin-top: 1em;"><a href="#/logs/">日志查看器</a></div>
        <hr style="margin-top: 1em;">
        <div style="margin-top: 1em;"><a href="#/guide/" @click.prevent="showGuideAgain" >再次查看应用程序引导</a></div>
        <div style="margin-top: 1em;"><a href="#/exit/" @click.prevent="exitAppImmediately" >立即退出应用程序 (仅用于调试)</a></div>
        <hr style="margin-top: 1em;">
        <div style="margin-top: 1em;"><a href="#/about/">关于...</a></div>
    </ActivityBody>
</ActivityView>

<ActivityView v-if="current_page === 'nfcdevicedetection'" v-deep>
    <ActivityTitle is-app-title>NFC 设备检测</ActivityTitle>
    <ActivityBody v-loading="hasNfcDeviceDetection">
        <ElButton @click="startNfcDeviceDetection">点击按钮开始检测</ElButton>
    </ActivityBody>
</ActivityView>

<ActivityView v-if="current_page === 'taginfo'" v-deep>
    <ActivityTitle is-app-title>NFC 标签信息</ActivityTitle>
    <ActivityBody v-loading="nfcTagTypeInfo === '1'">
        <ElButton @click="startNfcTagTypeDetection">点击按钮开始检测</ElButton>
        <pre v-if="nfcTagTypeInfo" v-text="nfcTagTypeInfo" style="margin-top: 1em;"></pre>
    </ActivityBody>
</ActivityView>
